<% provide(:title, 'Result') %>
<h1>Result</h1>

<%# 検索窓 %>
<%= form_tag(controller: :users, action: :search) do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>